<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    	    <link rel="stylesheet" th:href=@{/css/aboutPage.css}> 
    <title>AboutPage</title>
</head>
<body>
<section class="menu">
    <div class="nav">
        <div class="logo">
            <img th:src="@{/Picture/logomuchmate1.png}" alt="Logo">
            <h1>Munch<b>Mate</b></h1>
        </div>
        <ul>
            <li><a class="home" th:href="@{/index}">Home</a></li>
            <li><a th:href="@{/aboutPageUser}">About Us</a></li>
            <li><a th:href="@{/contactPageUser}">Contact</a></li>
        </ul>
        <a class="signin" th:href="@{/index}">LogOut</a>
    </div>
</section>

<div class="about-section">
    <h1>About Us</h1>
    <p>Welcome to MunchMate, your ultimate destination for delicious
        and affordable meals delivered right to your doorstep. We pride
        ourselves on offering a wide range of cuisines that cater to every
        palate, whether you're craving a hearty breakfast, a satisfying
        lunch, or a delightful dinner.</p>
    <p>Our mission is to make ordering food online convenient, fast,
        and enjoyable. With a commitment to quality and customer
        satisfaction, we ensure that each meal is prepared with the freshest
        ingredients and delivered with care.</p>
    <p>Explore our menu and discover a variety of dishes crafted by
        talented chefs from top-rated hotels and restaurants. Whether you're
        ordering for yourself or a group, MunchMate promises to elevate your
        dining experience with every bite.</p>
</div>

<div class="footer">
    <p>&copy; 2024 MunchMate. All rights reserved.</p>
</div>

</body>
</html>
