 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MunchMate</title>
<link rel="stylesheet" th:href=@{/css/indexstyle.css}> 
<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">

</head>
<body>
	<section class="menu">
		<div class="nav">
			<div class="logo">
				<img th:src="@{/Picture/logomuchmate1.png}" src="Picture/logomuchmate1.png" alt="Logo">
				<h1>
					Munch<b>Mate</b>
				</h1>
			</div>
			<ul>
				<li><a class="active" th:href="@{/}">Home</a></li>
				<li><a th:href="@{/aboutPageUser}">About Us</a></li>
				<li><a th:href="@{/contactPageUser}">Contact</a></li>
			</ul>
			<a class="signin" th:href="@{/login}" >Sign In</a>
		</div>
	</section>
	<section class="grid">
		<div class="content">
			<div class="content-left">
				<div class="info">
					<h2>
						Order Your Best<br>Food anytime
					</h2>
					<p style="color:#9fd3c7">
						Hey, Our delicious food is waiting for you,<br> we are always
						near to you with fresh item of food
					</p>
				</div>
				<button>Explore Food</button>
			</div>
			<div class="content-right">
				<img th:src="@{/Picture/indexpic.png}" src="Picture/indexpic.png" alt="Food Image">
			</div>
		</div>
	</section>
	<footer class="footer">
		<p>&copy; 2024 MunchMate. All rights reserved.</p>
	</footer>
</body>
</html>
