.nav {
	background-color: #9fd3c7;
	padding: 15px 80px;
	backdrop-filter: blur(10px);
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#but {
	position: relative;
	left: 600px;
	top: 20px;
}

.nav .logo img {
	width: 85px;
	height: auto;
	margin-right: 10px;
}

.nav .logo h1 {
	font-weight: 600;
	font-size: 24px;
	margin: 0;
}

.nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav ul li {
	margin-right: 30px;
}

.nav ul li a {
	text-decoration: none;
	color: #333;
	font-weight: 500;
	font-size: 17px;
	transition: color 0.3s ease;
}

.nav ul li a:hover {
	color: #ff511c;
}

.signin {
	color: #ff511c;
	text-decoration: none;
	padding: 8px 16px;
	border: 2px solid #ff511c;
	border-radius: 5px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.signin:hover {
	background-color: #ff511c;
	color: white;
}

.table {
	margin-top: 20px;
	width: 100%;
	border-collapse: collapse;
}

.table th, .table td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
}

.table th {
	background-color: #f2f2f2;
}

.table tbody tr:nth-child(even) {
	background-color: #f9f9f9;
}

.delete-btn, .update-btn {
	padding: 6px 12px;
	background-color: #AA336A;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.delete-btn:hover, .update-btn:hover {
	background-color: #bd2130;
}

.quantity-input {
	width: 60px;
	text-align: center;
}

.centered {
	text-align: center;
	margin-top: 20px;
}

.logo {
	display: inline-block;
	vertical-align: middle;
}

.title {
	display: inline-block;
	vertical-align: middle;
}

.menuu {
	width: 60%;
}